<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello <%= params[:user].email %>!</title>
  </head>
  <body>
    <div>
      <p>Congrutalions, you have successfully signed up on the offical Hogwarts school website.</p>
      <p>Due to the remarkable process in the technology we are witnessing nowadays and
      the Pandemic situation, there emerged a need in the wizarding world to automate 
      the registration process of the new applying wizards.</p>
      <p>WELCOME ABOARD.</p>

      <p>HAPPY LEARNING!</p>
    </div>
  </body>
</html>