
<div class="card container">

  <div class="card-header">
    <h1>Add new wizard</h1>
  </div>

  <div class="card-body">
    <%= render "form", wizard: @wizard %>
    <br>
    <%= link_to "Back to wizards", wizards_path%>
  </div>
  
</div>
<br>
<br>
