<br>
<h1 style="width:80%;margin-left:auto;margin-right:auto;">Editing spell</h1>
<%= render "form", spell: @spell %>

<br>

<div style="width:80%;margin-left:auto;margin-right:auto;">
  <%= link_to "Show this spell", @spell, class:"btn btn-dark me-md-2" %> |
  <%= link_to "Back to spells", spells_path , class:"btn btn-dark me-md-2"%>
</div>

