<div class="card" style="width:80%;margin-left:auto;margin-right:auto;">

  <div class="card-header">
    <h1>Create new spell</h1>
  </div>

  <div class="card-body">
    <%= render "form", spell: @spell %>
    <br>
      <%= link_to "Back to spells", spells_path, class:"btn btn-dark me-md-2"%>
  </div>
</div>

<br>
<br>

